/* Carousel */
.carousel-item {
    height: 70vh;
}

/* Navbar */
.navbar {
    background-color: #484558;
}

.nav-link {
    color: white;
    font-size: large;
    font-weight: 500;
}

/* Section 1 */

.section-1 {
    margin: 5% 0% 5% 0%;
}

/* Upper Section */

.upper-section-right {
    height: 320px;
    overflow: hidden;
}

.upper-section-left {
    text-align: justify;
}

/* Upper Section Texts */
.header{
    margin-bottom: 0;
}

.sub-header {
    margin-bottom: 16px;
}

/* Lower Section */

.lower-section {
    margin-top: 50px;
}

.lower-section-icons {
    color: #414052;
    font-size: 100px;
    padding-bottom: 10px;
}

.lower-section-icons:hover {
    color: #2D2C37;
}

/* Lower Section Text */

.lower-section-description {
    font-size: 1.25rem;
}

/* Section 2 */

.section-2 {
    background-image: url("assets/images/BG-fixed.jpg");
    background-size: cover;
    color: white;
    height: 70vh;
    
    display: flex;
    align-items:center;
    justify-content:center;
}

.section-2-container {
    margin: 0% 10% 0% 10%;
}

.section-2-paragraph {
    font-size: 1.25rem;
}

/* Footer */

.address {
    margin-bottom: 8px;
}

.copyright {
    background-color: #201F1B;
}

.copyright p {
    color: white;
    margin: 0px;
    padding: 10px;
}

footer {
    background-color: #484742;
    color: white;
    padding: 2.5% 0% 2.5% 0%;
}

.footer-description {
    font-size: 1.25rem;
}

.social-media-icons {
    font-size: 30px;
    padding-right: 5px;
}